
<p><strong>Id:</strong> @ViewBag.Registro.Id.ToString()</p>
<p><strong>Histórico:</strong> @ViewBag.Registro.Descricao.ToString()</p>
<p><strong>Data:</strong> @ViewBag.Registro.Data.ToString()</p>
<p><strong>Valor:</strong> @ViewBag.Registro.Valor.ToString()</p>
<p><strong>Nome da Conta:</strong> @ViewBag.Registro.NomeConta.ToString()</p>
<p><strong>Descrição do Plano de Contas:</strong> @ViewBag.Registro.DescricaoPlanoConta.ToString()</p>
