@model TransacaoModel


@{
    var vData = "";
    var vDescricao = "";
    var vTipo = "";
    var vValor = "0";
    var vContaId = "0";
    var vPlanoContaId = "0";

    try
    {
        vDescricao = @ViewBag.Registro.Descricao.ToString();
        vTipo = @ViewBag.Registro.Tipo.ToString();
        vData = DateTime.Parse(ViewBag.Registro.Data.ToString()).ToString("yyyy-MM-dd");
        vValor = @ViewBag.Registro.Valor.ToString();
        vContaId = @ViewBag.Registro.ContaId.ToString();
        vPlanoContaId = @ViewBag.Registro.PlanoContasId.ToString();
    }
    catch { }
}




<form asp-controller="Transacao" asp-action="CriarTransacao">
    <div>
        <h3>Criar Transação:</h3><br />
        <div class="form-group">
            <label for="data">Data:</label>
            <input type="date" class="form-control" asp-for="Data" value="@vData">
            <span asp-validation-for="Data" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label for="tipo">Tipo:</label>
            <br />
            @{
                if (vTipo == "R")
                {
                    <div class="radio">
                        <label><input id="radioR" type="radio" name="tipo" asp-for="Tipo" value="R" checked> Receita</label>
                        <br />
                    </div>
                    <div class="radio">
                        <label><input id="radioD" type="radio" name="tipo" asp-for="Tipo" value="D"> Despesa</label>
                    </div>
                }
                else
                {
                    <div class="radio">
                        <label><input id="radioR" type="radio" name="tipo" asp-for="Tipo" value="R"> Receita</label>
                        <br />
                    </div>
                    <div class="radio">
                        <label><input id="radioD" type="radio" name="tipo" asp-for="Tipo" value="D" checked> Despesa</label>
                    </div>
                }
            }
        </div>
        <div class="form-group">
            <label for="descricao">Histórico:</label>
            @Html.TextArea("Descricao",vDescricao, new { @class = "form-control" })
            @*<textarea rows="5" class="form-control" asp-for="Descricao">@vDescricao</textarea>*@
            <span asp-validation-for="Descricao" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label for="valor">Valor:</label>
            <input type="number" class="form-control" asp-for="Valor" value="@vValor">
            <span asp-validation-for="Data" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label for="conta">Conta:</label>
            <br />
            <select class="form-control" asp-for="ContaId" id="contas">
                @{
                    foreach (var item in (List<ContaModel>)ViewBag.Contas)
                    {
                        if (int.Parse(vContaId) == item.Id)
                        {
                            <option value="@item.Id.ToString()" selected>@item.Nome.ToString()</option>
                        }
                        else
                        {
                            <option value="@item.Id.ToString()">@item.Nome.ToString()</option>
                        }
                    }
                }
            </select>
        </div>
        <div class="form-group">
            <label for="planoConta">Plano de Conta:</label>
            <br />
            <select class="form-control" asp-for="PlanoContasId" id="planoContas">
                @{
                    foreach (var item in (List<PlanoContaModel>)ViewBag.PlanoContas)
                    {
                        if (int.Parse(vPlanoContaId) == item.Id)
                        {
                            <option value="@item.Id.ToString()" selected>@item.Descricao.ToString()</option>
                        }
                        else
                        {
                            <option value="@item.Id.ToString()">@item.Descricao.ToString()</option>
                        }
                    }
                }
            </select>
        </div>
        @{
            if (ViewBag.Registro != null)
            {
                <button type="submit" class="btn btn-block btn-danger">Alterar</button>
            }
            else
            {
                <button type="submit" class="btn btn-block btn-success">Registrar</button>
            }
        }
    </div>
</form>